<!-- <div class="container">
  <form action="/find_user" method="POST">
    <label>Twitter Handle<input type='text' name='handle' placeholder='Handle'></label>
    <input type='submit' value='submit'>
  </form>
</div>
 -->

<div class='container'>
  <form id='tweetit' action='/tweet' method='POST'>
    <input id='mytweet' type='text' name='tweet' placeholder='Send a Tweet'>
    <input id='submit' type='submit' value='Tweet It'>
  </form>
</div>

<div id='hi'></div>
